<!DOCTYPE html>
<html lang="en">
    <head>
        Job Portal
    </head>
    <div>
         <h2 class="A">Login</h2>
         <form onsubmit="">
            <div class="A">
                <label>Username</label>
                <input type="text" name="uname" placeholder="Enter Your User Name" required>
            </div>
            <div class="A">
                <label>Password</label>
                <input type="text" name="upassword" placeholde="Enter Your Password" required>

            </div>
            <div class="A">
                <input type="Submit" value="Submit">
            </div>
        </form>
        <div class="A">
            <h1>Register</h1>
        </div>
        <div class="A">
            <h3>Employer</h3>
            <input type="submit" value="Employer">
        </div>
        <div class="A">
            <h3>Candidate</h3>
            <input type="submit" value="Candidate">
        </div>
    </div>
</html>